.groups-container, .chatbox-container,
.new-message-container, .joinbox-container {
    border-width: 1.5px;
    margin-top: 15px;
}

.groups {
    max-width: 300px;
    padding-left: 20px;
    text-align: left;

    >li {
        margin-bottom: 15px;
    }

    ul {
        padding-left: 15px;

        li {
            display: inlineb-block;
        }

        li.selected {
            border: 1px dashed #1084d0;
            padding: 2px;
            font-weight: bold;
        }
    }
}

.chatbox-container {
    padding-top: 20px;
    max-height: 800px;
    overflow: scroll;
    .message.align-right {
        text-align: right;
    }
    .nes-bcrikko {
        color: grey;
    }
}

.new-message-container {
    .leave-group-btn {
        float: right;
    }
}

