.groups {
    display: inline-block;
    max-width: 300px;
    padding-left: 20px;
    text-align: left;

    >li {
        margin-bottom: 15px;
    }

    ul {
        padding-left: 15px;

        li {
            display: inlineb-block;
        }

        li.selected {
            border: 1px dashed #1084d0;
            padding: 2px;
            font-weight: bold;
        }
    }
}